/* Labirinto */
#map {
    display:flex;
    flex-direction: column;
}

.line {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
}
/* Labirinto */

/* player */
.player {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 150px;
    margin: 2.5px;
}
/* player */